<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Temperatura do mes 1: {{ mes1 }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="-15" max="45" step="1" [(ngModel)]="mes1"></ion-range>
  </ion-item>
  <ion-item>
    <ion-label>Temperatura do mes 2: {{ mes2 }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="-15" max="45" step="1" [(ngModel)]=" mes2"></ion-range>
  </ion-item>
  <ion-item>
    <ion-label>Temperatura do mes 3: {{ mes3 }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="-15" max="45" step="1" [(ngModel)]="mes3"></ion-range>
  </ion-item>
  <ion-item>
    <ion-label>Temperatura do mes 4: {{ mes4 }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="-15" max="45" step="1" [(ngModel)]="mes4"></ion-range>
  </ion-item>
  <ion-button expand="block" (click)="indicarPlantas()">Proximo</ion-button>
</ion-content>
